html, body {
  width: 100%;
  height: 100%;
  background: #fff;
  overflow-x: hidden;
}
body {
  position: absolute;
/*
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
*/
  background: #eee;
  overflow: hidden;
}

/* Menu Bars */
.topbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 15px 14px 15px;
  font-size: 1.2em;
  background: #fff;
  font-family: 'Lato', serif;
  border-bottom: 1px solid #9f9da6;
  z-index: 1;
}
.topbar.header {
  left: 150px;
  width: calc(100% - 300px);
/*  height: 66px;*/
  text-align: center;
  font-family: 'Lato', serif;
  background: transparent;
  border: 0;
}
.rightbar {
  font-family: 'Open Sans', serif;
  font-size: 1em;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  width: 300px;
  background: #35444c;
  z-index: 2;
}
.rightbar .filterblocks {
  font-size: 1.2em;
  padding: 1em;
  background: #242e34;
}
.rightbar .filterblocks select {
  -webkit-appearance: none;  /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
  -moz-appearance: none;  /*REMOVES DEFAULT FIREFOX STYLE*/
  border: 0 !important;  /*REMOVES BORDER*/
  
/*
  padding: 10px;
  margin: -10px 0;
*/
  padding: 5px;
  margin: -5px 0;
  background: #009688;
}
.rightbar .block-container {
  position: absolute;
  top: 66px;
  width: 100%;
  bottom: 0;
  overflow: auto;
  padding: 1em;
}
.rightbar .block-container .addblock {
  text-align: center;
}
.rightbar .block-container .addblock img {
  cursor: pointer;
  width: 100%;
  margin: 0 0 0.5em 0;
}
.rightbar .block-container .addblock .grid {
  width: 100%;
  background: #fff;
}

/* Canvas */
.canvas {
  position: absolute;
  top: 58px;
  bottom: 0;
  width: 100%;
/*  background: #eee;*/
/*  background: #fff;*/
  overflow: auto;
}
.canvasbtns {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1em;
  color: #fff;
  border-radius: 100%;
  padding: 13px 20px;
  font-size: 20px;
  box-shadow: 0 4px 20px -6px #000;
  z-index: 1;
}
.editstyle {
  padding: 8px 13px;
  margin: 92px 25px;
  background: #2196f3;
  font-size: 16px;
}
.addblocks {
/*  background: #f44336;*/
  background: #d2504d;
}
/*
.canvas .polyriseblock {
  position: relative;
}
*/
.canvas .grid {
  position: relative;
}
.blockbar {
  position: absolute;
  text-align: right;
/*  margin: 0 -35px -39px 0;*/
  top: 0;
  right: 0;
  z-index: 2;
}
.blockbar a {
  display: inline-block;
  cursor: pointer;
/*  margin: -2px;*/
  margin: -2px 0px;
  padding: 5px 12px;
  width: 51px;
  font-size: 21px;
  color: #fff;
/*  background: #2196f3;*/
  background: #5495ff;
  text-align: center;
}
.blockbar a:first-child {
  border-radius: 5px 0 0 5px;
}
.blockbar a:last-child {
  border-radius: 0 5px 5px 0;
}
.blockbar .dragblock {
/*  background: #26a69a;*/
  background: #61c3dc;
}
.blockbar .codeblock {
  margin-right: -3px;
/*  background: #8b81c0;*/
/*  background: #73c2da;*/
/*  background: #5495ff;*/
}
.blockbar .delblock {
/*  background: #f44336;*/
  background: #ef5268;
}
.canvas .sort-placer {
  border-top: 5px dashed #26a69a;
}
.blockmenu {
  display: block;
  position: absolute;
/*
  top: 106px;
  right: 62px;
*/
  top: 50px;
  right: 47px;
  width: 250px;
  padding: 14px;
  border-radius: 5px;
  color: #fff;
  background: #39444a;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.48);
  z-index: 1;
}
.blockmenu .arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  /* left: 50%; */
  /* margin-left: -35px; */
  top: -15px;
  right: -26px;
}
.blockmenu .arrow:after {
  background: #3a4449;
  border: 2px solid #39444a;
  content: "";
  position: absolute;
  /* left: 20px; */
  top: 5px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black,
              5px 6px 9px -9px black;
  transform:  rotate(45deg) scale(.65);
}
.blockmenu input[type=range].slider {
  width: calc(100% - 80px);
  padding: 0;
}
.blockmenu .minicolors {
  float: right;
}
/*
#bgimg {
  opacity: .5;
  transition: all ease 300ms;
}
#bgimg:hover {
  opacity: 1;
}
*/
.blockmenu .removebgimg {
  color: #fff;
  opacity: .6;
  transition: all ease 100ms;
}
.blockmenu .removebgimg:hover {
  opacity: 1;
}

/* Modules */
.module-bg {
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.25);
  z-index: 9999!important;
  position: absolute;
  width: 100%;
  height: 100%;
}
.module-bg input[type=radio] {
  width: 27px;
}
.column > div {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: auto;
  font-size: 16px;
  background: #000;
  background: rgba(34, 66, 108, 0.5);
}
nav {
  display: table-cell;
  vertical-align: middle;
  z-index: 1;
}
.column > div > nav > div {
  padding: 2em;
  border-radius: 0.4em;
  background: #fff;
  height: 95%;
  overflow: auto;
}
.column > div > nav > div h4 {
  color: #999da1;
}
.column > div > nav > div textarea {
  min-height: 131px;
  resize: vertical;
}
.btn--green {
  background: #26a69a;
}
.btn--blue {
  background: #2196f3;
}
.btn--red {
  background: #f44336;
}
input[type="checkbox"].ios8-switch {
    position: absolute;
    margin: 8px 0 0 16px;
}
input[type="checkbox"].ios8-switch + label {
    cursor: pointer;
    position: relative;
    padding: 5px 0 0 50px;
    line-height: 2.0em;
}
input[type="checkbox"].ios8-switch + label:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 40px; /* x*5 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:after {
    content: "";
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width: 24px; /* x*3 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:hover:after {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
input[type="checkbox"].ios8-switch:checked + label:after {
    margin-left: 16px;
}
input[type="checkbox"].ios8-switch:checked + label:before {
    background: #55D069;
}

/* SMALL */
input[type="checkbox"].ios8-switch-sm {
    margin: 5px 0 0 10px;
}
input[type="checkbox"].ios8-switch-sm + label {
    cursor: pointer;
    position: relative;
    padding: 0 0 0 32px;
    line-height: 1.3em;
}
input[type="checkbox"].ios8-switch-sm + label:before {
    width: 25px; /* x*5 */
    height: 15px; /* x*3 */
    border-radius: 10px; /* x*2 */
}
input[type="checkbox"].ios8-switch-sm + label:after {
    width: 15px; /* x*3 */
    height: 15px; /* x*3 */
    border-radius: 10px; /* x*2 */
}
input[type="checkbox"].ios8-switch-sm + label:hover:after {
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
input[type="checkbox"].ios8-switch-sm:checked + label:after {
    margin-left: 10px; /* x*2 */
}

/* LARGE */
input[type="checkbox"].ios8-switch-lg {
    margin: 10px 0 0 20px;
}
input[type="checkbox"].ios8-switch-lg + label {
    cursor: pointer;
    position: relative;
    padding: 7px 0 0 60px;
    line-height: 2.3em;
}
input[type="checkbox"].ios8-switch-lg + label:before {
    width: 50px; /* x*5 */
    height: 30px; /* x*3 */
    border-radius: 20px; /* x*2 */
}
input[type="checkbox"].ios8-switch-lg + label:after {
    width: 30px; /* x*3 */
    height: 30px; /* x*3 */
    border-radius: 20px; /* x*2 */
}
input[type="checkbox"].ios8-switch-lg + label:hover:after {
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}
input[type="checkbox"].ios8-switch-lg:checked + label:after {
    margin-left: 20px; /* x*2 */
}

.iconmodule h2 {
  text-align: left;
}
.iconmodule #icons h1 {
  height: calc(100vh - 325px);
  overflow: auto;
}

/* Animations */
.bounceIn {
  animation: bounceIn 1s;
  animation-delay: .1s;
}
.bounceInDown {
  animation: bounceInDown 1s;
  animation-delay: .1s;
}
.slideInLeft {
  animation: slideInLeft 1s;
  animation-delay: .1s;
}
.slideInLeftDelay {
  animation: slideInLeft 2s;
  animation-delay: .1s;
}
.slideInRight {
  animation: slideInRight 1s;
  animation-delay: .1s;
}
.slideInRightDelay {
  animation: slideInRight 2s;
  animation-delay: .1s;
}
.slideInRightDelay2 {
  animation: slideInRight 2s;
  animation-delay: 0s;
}
.slideInDown {
  animation: slideInDown 1s;
  animation-delay: .1s;
}
.slideInDownDelay {
  animation: slideInDown 2s;
  animation-delay: .1s;
}
.slideOutRight {
  animation: slideOutRight 1s;
  animation-delay: .1s;
}

/* Typography */
.capitalize {
  text-transform: capitalize;
}
.small {
  font-size: small;
}
.x-small {
  font-size: x-small;
}
.xx-small {
  font-size: xx-small;
}
.medium {
  font-size: medium;
}
.large {
  font-size: large;
}
.larger {
  font-size: larger;
}
.x-large {
  font-size: x-large;
}
.xx-large {
  font-size: xx-large;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.fl {
  float: left;
}
.fn {
  float: none;
}
.fr {
  float: right;
}
.ib {
  display: inline-block;
}

/* Tooltip Menu */
.editorbar {
  padding: 7.5px 3px;
  text-align: center;
  white-space: nowrap;
/*
  overflow-y: hidden;
  overflow-x: auto;
*/
}
.editorbar * {
  text-decoration: none;
}
.editorbar button {
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  padding: 10px 12px;
  border-radius: 3px;
  border: 0;
  color: #999;
  transition: all ease 300ms;
  background: none;
}
.editorbar button:hover {
  background: #ddd;
  color: #000;
}
.editorbar .arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.editorbar .arrow:after {
  background: #fff;
  border: 2px solid #fff;
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black,
              5px 6px 9px -9px black;
  transform:  rotate(45deg) scale(.65);
}

.editorbar.inputeditorbar input {
  width: calc(100% - 100px);
}
.editorbar.inputeditorbar button {
  padding: 2px 12px;
  font-size: 2rem;
}

/* default dropdown styles */
.bardropdown {
  display: inline-block;
  position: absolute;
  z-index: 3;
  background: #fff;
  left: 50%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.bardropdown .arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  top: -16px;
}
.bardropdown .arrow:after {
  background: #fff;
  border: 2px solid #fff;
  content: "";
  position: absolute;
  left: 20px;
  top: 5px;
  width: 25px;
  height: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform:  rotate(45deg) scale(.65);
}

/* button styles swatch menu */
.buttonswatches {
  width: 200px;
  margin-left: -100px;
}
.buttonswatches button {
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  padding: 10px 12px;
  border-radius: 3px;
  border: 0;
  background: none;
}

/* color picker for text */
.colorpicker {
  width: 175px;
  margin-left: -87.5px;
}
.minicolors-panel {
  border: 0;
}
.minicolors-theme-default .minicolors-swatches .minicolors-swatch {
  width: 17px;
  height: 17px;
}

/* custom button styles */
.btn--transparent {
  background: none;
  color: #656a6d;
  display: inline-block;
  width: auto;
}
.btndefault {
  color: #52bab3;
}
.btnsuccess {
  color: #5ece7f;
}
.btnerror {
  color: #e67478;
}
.btnwarning {
  color: #ff784f;
}
.btninfo {
  color: #9279c3;
}
.btnpink {
  color: #c488fb;
}
.btnblue {
  color: #3380ff;
}
.btnred {
  color: #ff3366;
}
.btnyellow {
  color: #f7ed4a;
}
.btndarkbrown {
  color: #59524b;
}
.btngray {
  color: #879a9f;
}
.btncamo {
  color: #b1a374;
}
.btnwhite {
  color: #fff;
}
.btnwhite2 {
  color: #fff;
}
.btnblack {
  color: #333;
}
.btndefault {
  color: #52bab3;
}
.btnsuccess {
  color: #5ece7f;
}
.btnerror {
  color: #e67478;
}
.btnwarning {
  color: #ff784f;
}
.btninfo {
  color: #9279c3;
}
.btnborderpink {
  color: #b072e8;
}
.btnborderblue {
  color: #339dff;
}
.btnborderred {
  color: #e50039;
}
.btnborderyellow {
  color: #d2c609;
}
.btnborderdarkbrown {
  color: #59524b;
}
.btnbordergray {
  color: #617479;
}
.btnbordercamo {
  color: #8b7d4e;
}
.btnborderlightgray {
  color: #808080;
}
.btnborderwhite {
  color: #fff;
}
.btnborderblack {
  color: #000;
}
.btnborderdefault {
  color: #52bab3;
}
.btnbordersuccess {
  color: #5ece7f;
}
.btnbordererror {
  color: #e67478;
}
.btnborderwarning {
  color: #ff784f;
}
.btnborderinfo {
  color: #9279c3;
}

/* input range slider - generated from http://danielstern.ca/range.css/ */
input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 5.5px 0;
  background: none;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0.5px 0.5px 1px #000000, 0px 0px 0.5px #0d0d0d;
  background: #afccc8;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #ff1e00;
  height: 12px;
  width: 12px;
  border-radius: 50px;
  background: rgba(80, 142, 135, 0.95);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #afccc8;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0.5px 0.5px 1px #000000, 0px 0px 0.5px #0d0d0d;
  background: #afccc8;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #ff1e00;
  height: 12px;
  width: 12px;
  border-radius: 50px;
  background: rgba(80, 142, 135, 0.95);
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #afccc8;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0.5px 0.5px 1px #000000, 0px 0px 0.5px #0d0d0d;
}
input[type=range].slider::-ms-fill-upper {
  background: #afccc8;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0.5px 0.5px 1px #000000, 0px 0px 0.5px #0d0d0d;
}
input[type=range].slider::-ms-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #ff1e00;
  height: 12px;
  width: 12px;
  border-radius: 50px;
  background: rgba(80, 142, 135, 0.95);
  cursor: pointer;
  height: 1px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #afccc8;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #afccc8;
}

/* code editor */
.codeeditorbtns {
  position: absolute;
  z-index: 10;
  font-size: 2rem;
  right: 50%;
  top: 0;
  margin: -3px 12px;
}
.confirmeditorcode {
  top: auto;
  bottom: 0;
}
.CodeMirror {
  height: 100%;
}
.CodeMirror-lines {
  padding: 4px 3rem 4px 0;
}
.CodeMirror .cm-palette-hint {
  display: inline-block;
  box-sizing: border-box;
  margin: -2px 2px 0 6px;
  border-radius: 50%;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  box-shadow: 0 0 1px 2px #fff,
              0 0 1px 3px #a0a09c;
}
.lint-error {
  background: #ffa;
  color: #a00;
}
.lint-error-icon {
  color: white;
  background-color: red;
}
#codeeditor {
  position: absolute;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 0;
}
.preview-editor {
  position: absolute;
  top: 0;
  right: 0;
  left: 50%;
  bottom: 0;
  background: #fff;
}
.preview-editor iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
@media (max-width: 768px) {
  .confirmeditorcode {
    top: auto;
    bottom: 50%;
  }
  .codeeditorbtns {
    right: 0;
  }
  #codeeditor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
  }
  .preview-editor {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    bottom: 0;
    background: #fff;
  }
}

/* misc */
.table {
  display: table;
  width: 100%;
  height: 100%;
}
.cell {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
.pointer {
  cursor: pointer;
}
.default {
  cursor: default;
}
.hide {
  display: none;
}
.favicon {
  width: 32px;
  height: 32px;
  opacity: .5;
  transition: all ease 150ms;
}
.favicon:hover, .favicon.hover {
  opacity: .8;
}
.fixedfill {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
}
.donatebanner {
  background: #ebfff1;
}
.alertify-notifier {
  z-index: 99999999;
}